<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.Settings>
            <setting name="ActiveModuleGuid" serializeAs="String">
                <value />
            </setting>
            <setting name="PenColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PenWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FilenamePattern" serializeAs="String">
                <value>dd-MM-yyyy_HH-mm-ss</value>
            </setting>
            <setting name="SelectedBackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SelectedBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </Core.Properties.Settings>
    </userSettings>
</configuration>